.cardWithStatusEdge::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: var(--status-color);
  }
  
.compactButton {
  padding: 0px 4px; /* Svært liten padding */
  min-height: auto; /* Fjerner minimumshøyden hvis det er satt av Mantine */
  line-height: 1; /* Justerer linjehøyden for å passe til den mindre knappen */
  height: 20px; /* Fast høyde for knappen */
}


.compactText {
  white-space: nowrap;
  font-size: 0.75rem; /* Mindre tekststørrelse */
}
