.cardWithStatusEdge::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  background-color: var(--status-color);
}

.card {
  background-color: var(--mantine-color-gray-5);
  border: 2px solid transparent;
  display: flex;
  padding: 0.625rem;
  align-items: center;
  border-radius: 0.75rem;
  text-align: left;
  height: rem(100);
  min-height: rem(100);
  cursor: grab;
}

.card:hover {
  border: 2px solid var(--mantine-color-blue-3);
}

.isDragging {
  opacity: 0.4;
  border: 2px solid var(--mantine-color-blue-3);
}

.isDragging .card:hover {
  border: 2px solid transparent;
}
